<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if logged_in}}
                <li>Dashboard</li>
                <li>Logout</li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
        <h1 id="techBlog">The Tech Blog</h1>
    </nav>    

    <main>
        {{{ body }}}
    </main>





<script src="/js/script.js"></script>
</body>
</html>