<h2>{{user.userName}}</h2>

{{#each user.posts as |post|}}

    <div class="post">
        <div class="postTitle">
            <h4>{{post.title}}</h4>
        </div>
        <div class="postContent">
            <h5>{{post.content}}</h5>
        </div>
    </div>
    <div>
    <button>Edit</button>
    <button>Delete</button>
    </div>
{{/each}}
<input id="newPostTitle" placeholder="Blog post title..." class="hide">
<textarea id="newBlogPost" class="hide" placeholder="New blog post..."></textarea>
<div>
    <button id="newPostSaveBtn" class="hide">Save</button>
    <button id="cancelNewPost" class="hide">Cancel</button>
</div>



<hr>

<button id="newBlogPostBtn">New Blog Post</button>

<script src="/js/dashboard.js"></script>