<h2>{{user.userName}}</h2>

{{#each user.posts as |post|}}

    <div class="post">
        <div class="postTitle">
            <h4>{{post.title}}</h4>
        </div>
        <div class="postContent">
            <h5>{{post.content}}</h5>
        </div>
    </div>
{{/each}}

<textarea id="newBlogPost" class="hide">New blog post....</textarea>
<button id="newPostSaveBtn" class="hide">Save</button>

<button id="newBlogPostBtn">New Blog Post</button>

<script src="/js/dashboard.js"></script>