:root {
    --blue: rgb(55, 111, 214);
    --white: rgb(214, 203, 203);
  }

body {
    margin: 0px;
    /* background-color: rgb(216, 216, 76); */
    background-color: var(--blue);
}

h1, h2, h3, h4, h6 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    /* background-color: rgb(11, 11, 104); */
    background-color: var(--white);
}

h1 {
    /* color: rgb(11, 11, 104); */
    color: var(--white);
    /* background-color: rgb(216, 216, 76); */
    background-color: var(--blue);
    margin-bottom: 50px ;
    margin-left: 60px ;
    padding: 5px;
    border-radius: 25px ;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    width: 500px ;
}

li {
    margin: 25px ;
    text-decoration: underline;
    /* color: rgb(216, 216, 76); */
    color: var(--blue);
    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashUser {
    color: var(--white);
    margin-top: 15px;
}

.post {
    width: 700px ;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid;
    border-width: 2px;
    /* border-color:rgb(11, 11, 104) */
    border-color: var(--white);
    color: var(--white);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.postTitle {
    padding-top: 8px ;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:rgb(11, 11, 104); */
    background-color: var(--white);
    /* color: rgb(216, 216, 76); */
    color: var(--blue);
    width: 700px;
}

.postTitle h4, h6 {
    margin-left: 15px;
    margin-right: 15px;
}

.postContent {
    /* color:rgb(11, 11, 104); */
    color: var(--white);
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* .postContent h6 {
    margin-top: 15px;
} */

a {
    /* color:rgb(216, 216, 76) */
    color: var(--blue);
}

#loginSignup {
    /* background-color:rgb(11, 11, 104); */
    background-color: var(--white);
    border-radius: 10px;
    height: 400px;
    width: 750px ;
    /* color:rgb(11, 11, 104) ; */
    color: grey;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.loginSignup {
    width: 250px;
    /* background-color:rgb(216, 216, 76); */
    background-color: var(--blue);
    height: 275px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center ;
}

.vertical-line1 {
    width: 1px;
    /* background-color:rgb(216, 216, 76); */
    background-color: var(--blue);
    height: 275px;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    padding: 10px ;
    margin-top: 20px ;
}

textarea {
    width: 700px;
}

.hide {
    display: none;
}
