body {
    margin: 0px;
    background-color: rgb(216, 216, 76);
}

h1, h2, h3, h4 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    background-color: rgb(11, 11, 104);
}

h1 {
    color: rgb(11, 11, 104);
    background-color: rgb(216, 216, 76);
    margin-bottom: 50px ;
    margin-left: 60px ;
    padding: 5px;
    border-radius: 25px ;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    width: 500px ;
}

li {
    margin: 25px ;
    text-decoration: underline;
    color: rgb(216, 216, 76);
    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    width: 700px ;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid;
    border-width: 2px;
    border-color:rgb(11, 11, 104)
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.postTitle {
    padding-top: 8px ;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    background-color:rgb(11, 11, 104);
    color: rgb(216, 216, 76);
    width: 700px;
}

.postContent {
    color:rgb(11, 11, 104);
    margin: 8px;
}

a {
    color:rgb(216, 216, 76)
}

#loginSignup {
    background-color:rgb(11, 11, 104);
    border-radius: 10px;
    height: 400px;
    width: 750px ;
    color:rgb(11, 11, 104) ;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.loginSignup {
    width: 250px;
    background-color:rgb(216, 216, 76);
    height: 275px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center ;
}

.vertical-line1 {
    width: 1px;
    background-color:rgb(216, 216, 76);
    height: 275px;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    padding: 10px ;
    margin-top: 20px ;
}
